.article-hebergements-populaires {
  display: flex;
  column-gap: 3%;
  margin-bottom: 50px;
}
.hebergements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2 1 60%;
  box-sizing: border-box;
  padding: 2% 3%;
  padding-bottom: 2%;
}
.populaires {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  box-sizing: border-box;
  padding: 3%;
}
.hebergements,
.populaires {
  border-radius: 15px;
  background-color: #f2f2f2;
}

.cards-hebergements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  box-sizing: border-box;
}

.style-card {
  background-color: white;
  border: 4px solid white;
  border-radius: 15px;
  box-shadow: 3px 3px 15px #d6d4d4;
}
.style-card:hover {
  box-shadow: 3px 3px 15px #0065fc;
}
.cards-hebergements .style-card {
  display: flex;
  flex-direction: column;
  height: 172px;
  flex: 1 1 25%;
}

.container-image-hebergements img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.text-hebergements {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
.text-hebergements h3 {
  margin-top: 4px;
  margin-bottom: 0;
}
.text-hebergements p {
  margin-bottom: 5px;
  margin-top: 5px;
}
.text-hebergements .star-rating {
  margin-bottom: 3px;
}

.afficher-plus {
  font-family: "Raleway-bold";
  margin-top: 30px;
  font-size: 15px;
}
.afficher-plus a:hover {
  text-decoration: underline;
}
.title-populaires {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.title-populaires h2,
.title-populaires i {
  margin-top: 6px;
  margin-bottom: 24px;
  padding-right: 1%;
}
.cards-populaires {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.cards-populaires .flex-style-card {
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 95%;
  column-gap: 5px;
  margin: 0;
}
.container-image-populaires {
  flex: 1 0 35%;
}
.container-image-populaires img {
  height: 120px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 0px 0px 15px;
}
.text-populaires {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2 0 55%;
  margin: 3%;
}
.text-populaires h3,
.text-populaires p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.title-populaires i {
  font-size: 18px;
}
.star-rating {
  color: #0065fc;
  font-size: 10px;
}
.star-rating .empty-star {
  color: #d6d4d4;
}

/*media queries for tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  .article-hebergements-populaires {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
  .cards-populaires {
    flex-direction: row;
    column-gap: 20px;
  }
  .style-card {
    column-gap: 10px;
    flex: 1 0 30%;
  }

  .cards-hebergements .style-card {
    flex: 1 0 30%;
  }
  .text-hebergements {
    margin-left: 4px;
  }
}
/*media queries for phone*/
@media screen and (max-width: 768px) {
  .article-hebergements-populaires {
    flex-direction: column-reverse;
    width: 95%;
  }
  .populaires {
    border-radius: 0px;
    padding-bottom: 5%;
  }
  .hebergements {
    background-color: white;
  }
  .cards-hebergements {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .cards-populaires {
    align-items: center;
  }
  .cards-hebergements .style-card {
    width: 98%;
  }
  .cards-populaires .style-card {
    width: 98%;
  }
}
