@font-face {
  font-family: "Raleway";
  src: url("C:\Users\david\Documents\Webdev-Marion\Openclassrooms\P2_Lelaumier_Marion\CSS\Raleway-Italic-VariableFont_wght.ttf")
      format("truetype"),
    url("C:\Users\david\Documents\Webdev-Marion\Openclassrooms\P2_Lelaumier_Marion\CSS\Raleway-VariableFont_wght.ttf")
      format("truetype");
}
body {
  font-family: Raleway, Arial, sans-serif;
}
#bloc_page {
  width: 992px;
  margin: auto;
}
/*media queries for tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  #bloc_page {
    width: auto;
  }
}
/*media queries for phone*/
@media screen and (max-width: 768px) {
  #bloc_page {
    width: auto;
  }
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
h1 {
  font-size: 19px;
}
h2 {
  font-size: 14px;
}
