.article-activites {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}
.activites-cards {
  display: flex;
  flex: 1 0 25%;
  column-gap: 50px;
}
.activites-cards .style-card {
  display: flex;
  flex-direction: column;
  border: none;
}

.container-image-activites {
  height: 90%;
}
.image-activites {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
.titre-activites {
  height: 15%;
}
.double-activites-card {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
